{% extends "App_PKOB/base_login.html" %}
{% block title %}
    HALAMAN UTAMA
{% endblock %}
{% block content %}
    <p class="mb-100 mt-10"><br>
    <h1 style="text-align:center;" class="display-4">Selamat Datang ke PKOB Sistem.</h1><br>
    <h3 style="text-align:center;font-size:2vw;" class="display-4">Pusat Kawalan Operasi Bencana (PKOB) merupakan sistem berpusat </h3>
    <h3 style="text-align:center;font-size:2vw;" class="display-4">yang boleh membantu Ketua Kampung dengan cepat membantu penduduk kampung selepas bencana.</h3>

    <p align=center>
        <br><br>
        <a href="/accounts/login" class="btn btn-warning" style="font-size: 25px">LOG MASUK</a>
        <br>
    </p>
    <br><br><br><br>
<hr style=" border-radius: 100px;border-top: 2px solid grey"/>
{% endblock %}
